Common/ConfigFiles/SimulatorConfigs/SimulatorSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="modules">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="module">
					<xs:complexType>
						<xs:sequence>
							<xs:choice maxOccurs="unbounded">
								<xs:element name="AnalogInputParameter" type="xs:string" />
								<xs:element maxOccurs="unbounded" name="AnalogOutputParameter" type="xs:string" />
								<xs:element name="InOutChaining">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute name="from" type="xs:string" use="required" />
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="DigitalInputParameter" type="xs:string" />
								<xs:element name="AnalogParameterAdd">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute name="from1" type="xs:string" use="required" />
												<xs:attribute name="from2" type="xs:string" use="required" />
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="baseArea" type="xs:decimal" use="required" />
						<xs:attribute name="outletArea" type="xs:decimal" use="required" />
						<xs:attribute name="height" type="xs:unsignedByte" use="required" />
						<xs:attribute name="type" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>